# Global owners
* @cocahonka

# Frontend and Backend
/frontend/ @cocahonka
/backend/ @qquiqlerr

# Infrastructure and Git setup
/.githooks/ @cocahonka
/scripts/setup-hooks.sh @cocahonka
/.github/ @cocahonka
