# output dylib name to be embedded into macOS app bundle
BINDINGS_DYLIB_NAME=piv_bindings.dylib

# bindings type (enum-like), currently only GOLANG is supported
BINDINGS_TYPE=GOLANG

# path to golang bindings sources (relative to repo root)
BINDINGS_GOLANG_DIR=packages/piv_bindings/golang_piv_bindings

# api paths (via nginx reverse proxy)
API_BASE_URL=http://localhost:8080/

# storage prefix
SHARED_PREFS_PREFIX=hecate