# output dylib name to be embedded into macOS app bundle
BINDINGS_DYLIB_NAME=piv_bindings.dylib

# bindings type (enum-like), currently only GOLANG is supported
BINDINGS_TYPE=GOLANG

# path to golang bindings sources (relative to repo root)
BINDINGS_GOLANG_DIR=packages/piv_bindings/golang_piv_bindings

# api paths
API_BASE_URL=http://localhost:8082
API_INIT_LOGIN=user/login/init
API_VERIFY_LOGIN=user/login/verify
API_INIT_REGISTER=user/register/init
API_VERIFY_REGISTER=user/register/verify
API_REFRESH_TOKEN=user/login/refresh
