DB_PORT=5432
DB_HOST=localhost
DB_NAME=chat_service
DB_USER=user
DB_PASSWORD=password
CACHE_PORT=6379
CACHE_HOST=localhost
CACHE_PASSWORD=password
JWT_SECRET=super_secret_key
ENV=development
SERVER_PORT=8083
